.container:hover .image {
  opacity: 0.3;
}

.container:hover .button{
  opacity: 1;
}

.button{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 2%;
  transform: translate(-10%, -6%);
  -ms-transform: translate(-10%, -6%)
}
img {
    height: 130px;
    width: 130px;
    border-radius: 100%;
}
body{
    background-color: whitesmoke;
    display: flex;
    justify-content: baseline;
    position: relative;
}

:first{
    background-color: blueviolet;
}
items{
    position: relative;
    left: 50px;
    top: 150px
}
